@import "styles/text.module.scss";

.secondaryInfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 100px;
}

.buttonLabel{
    display: flex;
    align-items: center;
    gap: 8px;
    font : $text;
}