@import "styles/text.module.scss";

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: white;
    font: $text;
    background-color: white;
    &.sm{
        min-width: 50px;
    }
    &.md{
        min-width: 200px;
    }
    &.blue{
        background-color: #1e90ff;
        &:hover{
            background-color: hsl(210, 100%, 50%);

        }
    }
    &.white{
        color: black;
        &:hover{
            background-color: rgb(237, 234, 234);
            transition: ease-in-out 0.2s;
        }
    }


}

.container:disabled{
    background-color: #d6d6d6;
    cursor: not-allowed;
}

.link{
    display: flex;
    align-items: center;
    gap: 8px;
}