.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: white;
    &.sm{
        min-width: 50px;
    }
    &.md{
        min-width: 200px;
    }
    &.blue{
        background-color: #1e90ff;
    }
    &.white{
        background-color: white;
    }
}

.container:disabled{
    background-color: #d6d6d6;
    cursor: not-allowed;
}

.link{
    display: flex;
    align-items: center;
    gap: 8px;
}