@import "styles/text.module.scss";

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    gap: 32px;
}

.info{
    display: flex;
    align-self: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 48px;
}

.text{
    font: $text;
}

.title{
    font: $title;
    position: relative;
    &::after{
        position: absolute;
        width: 100px;
        height: 3px;
        background-color: red;
        content: "";
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
    }
}