@import "styles/text.module.scss";

.container{
    color: black;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}


.bold{
    font: $text;
}

.fileInput{
    display: none;
}

.label{
    background-color: #f4f3f9;
    border: 2px dashed #d6d6d6fb;
    min-height: 400px;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    color: #aca9a9;
    padding: 32px;
    &:hover{
        background-color: #eceaeafb;
        transition: ease-in-out 0.2s;
    }
}

.text{
    align-self: center;
}

.icon{
    height: 48px;
    width:48px;
}

.listFiles{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

