$nav-bar : #16171b;
$default-shadow: rgba(28, 111, 154, 0.08);
$background-element: #f9f9fb;
$text: #8a888883;
$border: #f9f9f9da;
$active-content: rgba(0, 0, 255);
$red: rgba(233, 44, 44, 0.884);
$gray: rgba(243, 243, 247, 0.767);